---
import { Icon } from "astro-icon/components";

/**
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/aishwarya05",
		name: "linkedin",
	},
	{
		friendlyName: "X",
		link: "http://x.com/Aishwarya_A_R",
		name: "x",
	},
	{
		friendlyName: "Email",
		link: "mailto:aishy.savi@gmail.com",
		name: "email",
	},
];
---

<div class="flex flex-wrap items-center gap-x-2">
	<p class="text-textColor/60 text-sm">My coordinates:</p>
	<ul class="flex items-center gap-x-1">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }, index) => (
				<>
					<li class="flex">
						<a
							class="underline underline-offset-2 hover:text-accent transition-colors"
							href={link}
							rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
							target="_blank"
						>
							{friendlyName}
						</a>
					</li>
					{index < socialLinks.length - 1 && <li class="text-textColor/40">/</li>}
				</>
			))
		}
	</ul>
</div>
