---
import type { TocItem } from "@/utils/generateToc";

interface Props {
	heading: TocItem;
}

const {
	heading: { children, depth, slug, text },
} = Astro.props;
---

<li class={`${depth > 2 ? "ms-4 border-l pl-2 border-zinc-200 dark:border-zinc-700" : ""}`}>
	<a
		class={`toc-link block line-clamp-2 transition-colors hover:text-accent ${depth <= 2 ? "mt-3 font-medium text-sm" : "mt-1 text-xs text-gray-500 dark:text-gray-400"}`}
		href={`#${slug}`}>{text}</a
	>
	{
		!!children.length && (
			<ol>
				{children.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ol>
		)
	}
</li>
